---
---

$background-image: 'desktop.jpg';
$background-color: #ddd;
$nav-link-color: #1A9AFC;
$nav-link-hover-color: #147bc9;
$section-title-color: #1A9AFC;
$contact-background: #fff;
$contact-border: #555;
$contact-shadow: #333;
$contact-submit: #1A9AFC;
$contact-submit-hover: #004EB0;

@import url('https://fonts.googleapis.com/css?family=Ubuntu');


* {
     box-sizing: border-box;
}

body {
     background: $background-color;
}



/*****
    Slideout Nav Menu
*****/

#slideout-menu {
     box-sizing: content-box;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     padding: 1em;
     z-index: 5;
}

#slideout-menu .logo {
     height: 10vh;
     width: auto;
     position: absolute;
     margin: auto 0 auto 20px;
     left: 0;
     top: 0;
     z-index: 5;
}

#slideout-menu ul {
     position: relative;
     left: 100%;
     padding: .5em;
     background: none;
     text-align: right;
     transition: 1s ease 0s;
}

#slideout-menu ul li {
     display: inline-block;
     padding: 0.25em 1em;
     text-decoration: none;
}

#slideout-menu ul > a {
     font-family: 'Ubuntu', Arial;
     background: none;
     text-decoration: none;
     font-size: 3vh;
     color: $nav-link-color;
     padding-bottom: 10px;
}

#slideout-menu ul > a:hover {
     border-bottom: 4px solid $nav-link-color;
}

#slideout-menu ul > a:hover {
     color: $nav-link-hover-color;
}

#slideout-menu:hover > ul {
     position: relative;
     left: 0;
}

/*****
     Hero Image
*****/

#hero-image {
     position: absolute;
     top: 13vh;
     margin-left: -35px;
     margin-right: -35px;
     width: 100%;
     overflow: hidden;
     background-image: url('../img/' + $background-image);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center top;
     height: 73vh;
     z-index: 10;
}

#hero-image .title {
     font-family: 'Ubuntu', Arial;
     color: #fff;
     margin-top: 40px;
     margin-left: 10vw;
     font-size: 3em;
}


/*****
     Section
*****/

.section {
     min-height: 95vh;
     padding: 40px 40px;
     overflow: hidden;
}

.section .section-title {
     z-index: 5;
     color: $section-title-color;
     font-family: 'Ubuntu', Arial;
     font-size: 3em;
     text-align: center;
     margin-top: 13vh;
     margin-bottom: 2vh;
}


/*****
     Home
*****/

#home {
     height: 100vh;
     padding: 40px 20px !important;
}


/*****
     Portfolio
*****/

#portfolio {

}


/*****
     Resume
*****/

#resume {

}


/*****
     About
*****/

#about {

}


/*****
     Contact
*****/

#contact {
     height: 100vh;
}

#contact .contact-background {
     background-color: $contact-background;
     border: 2px solid $contact-border;
     padding: 20px;
     box-shadow: 0px 0px 15px $contact-shadow;
     -moz-box-shadow: 0px 0px 15px $contact-shadow;
     -webkit-box-shadow:  0px 0px 15px $contact-shadow;
}

#contact input[type="text"],
#contact input[type="date"],
#contact input[type="datetime"],
#contact input[type="email"],
#contact input[type="number"],
#contact input[type="search"],
#contact input[type="time"],
#contact input[type="url"],
#contact input[type="password"],
#contact textarea,
#contact select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid $contact-border;
    background: transparent;
    margin-bottom: 10px;
    font: 16px 'Ubuntu', Arial;
    height: 45px;
}

#contact textarea{
    resize: none;
    overflow: hidden;
}

#contact input[type="button"],
#contact input[type="submit"]{
    background-color: $contact-submit;
    border: 1px solid $contact-border;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: 'Ubuntu', Arial;
    font-size: 20px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
}

#contact input[type="button"]:hover,
#contact input[type="submit"]:hover {
    background-color:$contact-submit-hover;
}



/*****
     Footer
*****/

footer {
     background-color: $background-color;
     position: fixed;
     width: 100%;
     bottom: 0;
     height: 7vh;
     padding: 10px 30px;
}

footer .copyright {
     position: absolute;
     display: inline-block;
     font-size: .7em;
     font-style: italic;
     color: $section-title-color;
     vertical-align: middle;
     margin-left: 20px;
     margin-bottom: 10px;
     left: 0;
     bottom: 0;
}

footer .signature {
     position: absolute;
     height: 100%;
     width: auto;
     margin: 0 20px;
     right: 0;
     bottom: 0;
}
